name: Move Issue or PR to Project Column

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  move_item_to_project_column:
    runs-on: ubuntu-latest
    steps:
    - name: Move issue to issue column
      if: github.event_name == 'issues'
      uses: takanabe/github-actions-automate-projects@v1.3.1
      with:
        project_name: shovon
        column_name: To do
        repo_token: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Move pull request to PR column
      if: github.event_name == 'pull_request'
      uses: takanabe/github-actions-automate-projects@v1.3.1
      with:
        project_name: shovon
        column_name: In progress
        repo_token: ${{ secrets.GITHUB_TOKEN }}
